@model IEnumerable<prjMvcCoreDemo.Models.TProduct>

@{
    ViewData["Title"] = "List";
}

<h1>購物車</h1>

<p>
    <a asp-action="CartView">檢視購物車</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQty)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @{int count = 0;

        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                        @count
                </td>
                    <td>
                        <img src="~/img/@item.FImagePath" width="200" height="180" />
                        <br />
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQty)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FPrice)
                    </td>
                <td>
                        @Html.ActionLink("加入購物車", "AddToCart","Shopping", new { id=item.FId  }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("加入 Session", "AddToSession", new { id = item.FId }, new { @class = "btn btn-success" }) |
                </td>
            </tr>
}
}
    </tbody>
</table>
